.dish-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Keeps 3 equal-width columns */
    gap: 30px; 
    justify-content: center;
    margin-top: 4%;
    max-width: 85%;
    margin-left: auto; /* Centers the container horizontally */
    margin-right: auto; /* Centers the container horizontally */
  }

  .dish-tile {
    background-color: #013328;
    border-radius: 12px;
    padding: 16px;
    height: 150px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    position: relative; /* Needed for absolute positioning of the pin */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .list-title {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    color: white;
  }

  .pin {
    position: absolute; /* Positions the pin relative to .dish-tile */
    top: 10px; 
    left: 15px; 
    font-size: 24px;
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
    .dish-tiles {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .dish-tiles {
      grid-template-columns: 1fr; /* 1 column on small screens */
    }
  }