.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color: #F4F2EE;
  }
  
  .navbar-logo {
    height: 50px;
  }
  
  .search-container {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .search-input {
    width: 30%;
    padding: 8px;
    border: .5px solid #ddd;
    border-radius: 16px;
    height: 20px;
  }

  .search-input:focus {
    border-color: #013328; 
    outline: none; 
    box-shadow: 0 0 2px rgba(1, 51, 40, 0.5); 
  }

  .search-input::placeholder {
    font-family: "Franklin Gothic Light", "Arial", sans-serif;
    color: #999; 
  }
  
  .nav-buttons {
    display: flex;
    gap: 15px;
  }

  .nav-btn {
    background: none;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 50px; 
}

  .nav-btn.active {
    color: #F4F2EE;
    font-weight: 600;
    padding: 8px 16px; 
    background: #013328;
}

.nav-btn:hover{
  color: #328058;
}
  
  .user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-initials {
    background-color: #013328;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .search-input {
        width: 100%; 
        margin-top: 10px; 
        border-radius: 12px;
    }
  }

  @media (max-width: 768px) {
    .nav-buttons {
        flex-direction: column;
        align-items: center;  
        gap: 10px; 
    }
  
    .nav-btn {
        width: 100%; 
        padding: 10px;
    }
  }

  @media (max-width: 480px) {
    .nav-buttons {
        display: none; 
    }
  
    .menu-icon {
        display: block; 
        font-size: 24px;
        cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .user-initials {
        padding: 6px;  
        font-size: 14px;  
    }
  }