html, body {
  width: 100%;
  overflow-x: hidden; /* removes scrolling */
}

body {
  background-color: #F4F2EE;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DishList page header container */
.title-menu-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  padding: 0 20px;
  position: relative;
  margin-top: 5%;
}

  /* Shared page title */
  .page-title {
    font-size: clamp(24px, 5vw, 56px);
    color: #1E1E1E;
    font-family: "Bricolage Grotesque","Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
  }

  /* DishList page menu container */
  .menu-container {
    position: absolute;
    right: 12%; 
    display: flex;
    align-items: center;
    z-index: 20;
  }

  .list-message{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: "Bricolage Grotesque","Segoe UI", Helvetica, Arial, sans-serif;
  }

  .utensil-drawing {
    position: absolute;
    left: 2%; 
    display: flex;
    height: 200px;
    transform: rotate(15deg); 
    transform-origin: bottom left; 
    z-index: 0;
  }